body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-image: url("topography.png");  
}

.completedtrue {
  text-decoration: line-through;  
}

.btn-footer {
  margin-right: 6px;
  margin-top: 6px;
}

.input{
  margin: 6px;
}

.counter{
  margin-bottom: 0px;
  margin-top: 6px;
}

.todoItem{
  margin-top: 10px;
  margin-bottom: 10px;  
}

.btn-item{
  margin: 6px; 
}

.Header-text{
  margin-top: 0px;
}

.about-home{
  margin-top:6px;
}

.list-group{
  padding-left: 15px !important; 
}

.search{
  margin-top:6px;
}